* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin-top: 50px;
  font-family: 'Carter One', cursive;
  font-size: 4rem;
  color: #95BF47;
  text-shadow: 2px 2px #64943E;
}

.App p{
  margin: 20px 0;
}

.searching{
  margin-top: 100px;
}

.search-bar{
  width: 300px;
  height: 25px; 
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  justify-content: space-evenly;
  

}



.movie-card{  
  margin: 10px 0 0 1px;
  width: 18%;
  background-color: rgb(231, 229, 229);
  height: 380px;
  border: 5px solid rgb(53, 54, 53);
  
  
}



.movie-card h4{

  font-size: 0.8rem;
  padding: 10px 0;
  height: 50px;
}

.movie-card img{
  height: 250px;
  max-width: 180px;
}



.img-hover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  max-width: 180px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(51, 51, 51, 0.699);
  width: 170px;
}

.img-hover p{
  color: white;
  margin-top: 110px;
}

.movie-img:hover .img-hover{
  
    opacity: 1;
 
}

.movie-img {
 
  width: 100%;
  position: relative;
} 

.movie-card h5{
  margin-bottom: 10px;
}



.save-btn{
  width: 100px;
  height: 25px;
  color: rgb(118, 248, 162);
  background-color:rgb(20, 15, 44);
  border-radius: 5px;
  border: 2px solid darkgreen;
}



.save-btn:hover{
  cursor: pointer;
  color: white;
  transition: 0.2s ease-out;
}


.save-btn:disabled{
  cursor: default;

  color: white;
  background-color:rgb(133, 133, 133);
  border: none;
  
}


@media (max-width: 900px){
  .movie-card{
    width: 30%;
    height: 300px;
  
  }

  .movie-card img{
    height: 190px;
    max-width: 150px;
  
  }


  .img-hover{
    height: 190px;
    width: 130px;
  }

  .img-hover p{
    margin-top: 80px;
  }
  
.movie-card h5{
  margin-bottom: 0;
}


.save-btn{
  width: 100px;
  height: 20px;
 
}
}



@media (max-width: 568px){

  .movie-card{
    width: 40%;
    height: 300px;
  }


  .movie-card h4 {
    font-size: 0.7rem;
    padding: 0;
    height: 50px;


  }

  
}


/* Nominations */

.nominations-container{
  
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 40%;
  flex-wrap: wrap;
  
}

.nominations-container h3{
 margin-left: 0px;
}

.nomination-title{
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  width: 100%;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;

}

.nomination-title h3{
  margin-left: 50px;
  margin-top: 5px;

}

.nomination-btn{
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-right: 50px;
}

.nomination-btn:focus{
  outline: none;
}



.nomination-limit{
  width: 100%;
  background-color: #f8d7da;
  color: #721c24;
  margin-top: 20px;
  border: 2px solid #f5c6cb;
}




@media (max-width: 1200px){
  .nominations-container{
    width: 80%;
  }
}

@media (max-width: 568px){
  .nominations-container{
    width: 95%;
  }

  .nomination-title h3{
    font-size: 0.8rem;
    margin-left: 10px;
  }

  .nomination-btn{
    margin-right: 10px;
  }
}


.details-container{
  display: flex;
  margin: 50px;
}


.details-info{

}
.details-info p{
  width: 80%;

  margin: 0 auto;
}