* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  margin-top: 50px;
}

.App p{
  margin: 20px 0;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  justify-content: space-evenly;

}



.movie-card{
  margin: 10px 0 0 1px;
  width: 20%;
  background-color: rgb(231, 229, 229);
  height: 400px;
  border: 5px solid rgb(63, 63, 63);
  object-fit: fill;
  
}



.movie-card h4{

  font-size: 0.8rem;
  padding: 10px 0;
  height: 50px;
}

.movie-card img{
  height: 250px;
  max-width: 180px;

}

.movie-card img:hover{
  max-width: 200px;
  height: 260px;
  transition: ease-in 0.2s;

}

.movie-card h5{
  margin-bottom: 25px;
}



.btn-container{
  
}
.movie-card button{
  
}



@media (max-width: 568px){

  .movie-card{
    width: 40%;
    height: 300px;
  }

  .movie-card h4{
   
  }


  
.movie-card img{
  height: 190px;
  max-width: 150px;

}

.movie-card img:hover{
  height: 190px;
  max-width: 150px;
}

.movie-card h5{
  margin-bottom: 0;
}
  
}


/* Nominations */

.nominations-container{
  
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 40%;
  flex-wrap: wrap;
  
}

.nomination-title{
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  width: 100%;
}

.nomination-btn{
  background-color: transparent;
  cursor: pointer;
  border: none;
}


.nomination-limit{
  width: 100%;
  background-color: #f8d7da;
  color: #721c24;
  margin-top: 20px;
  border: 2px solid #f5c6cb;
}

